<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Personal HTML-5 Template </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="docs/img/favicon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="./docs/css/bootstrap.min.css">
  <link rel="stylesheet" href="./docs/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./docs/css/slicknav.css">
  <link rel="stylesheet" href="./docs/css/flaticon.css">
  <link rel="stylesheet" href="./docs/css/animate.min.css">
  <link rel="stylesheet" href="./docs/css/magnific-popup.css">
  <link rel="stylesheet" href="./docs/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="./docs/css/themify-icons.css">
  <link rel="stylesheet" href="./docs/css/slick.css">
  <link rel="stylesheet" href="./docs/css/nice-select.css">
  <link rel="stylesheet" href="./docs/css/style.css">
  <!-- my CSS sheet here -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
</head>


<body>

<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header  header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a href="index.html"><img src="../docs/img/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div class="menu-main d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                  </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>

            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
</header>